<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThunderNews ⚡</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <main>
            <section class="conteudo_principal">
                <h1 class="bem-vindo">Wellcome to the best gamer news portal</h1>
                <div class="noticia-principal">
                    <h2 class="titulo-noticia">GTA VI: 80 gameplay videos leaked</h2>
                    <img class="imgame-noticia" src="https://media.seudinheiro.com/cdn-cgi/image/fit=contain,width=640&,format=auto/uploads/2022/09/GTA-6-1-628x353.jpg" alt="gta VI imagem">
                    <p class="texto-noticia">No ultimo domingo (18 de setembo) mais de 70 videos do novo jogo da Rockstar
                        foram disponibilizados na internt. Jogo é apontado por muitos fans da franquia como o lançamento mais aguardado de todos
                        os tempos na industria dos games. Ate o momento a empresa lider no ramo dos games ainda não se pronun....
                        <span class="link-noticia">Leia mais</span>
                    </p>
                </div>
            </section>
        </main>
    {% endblock %}

    </style>
</body>
</html>