<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/base_style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
    </style>
</head>
<body>
    
    <header class="cabeçalho">
        <div class="logo-menu">
            <a href="{{ url_for('ucBp.home') }}" class="logo"><i><span>Thunder</span>News</i></a>
            <nav class="menu">
                <a class="menu-itens" href="">About</a>
                <a class="menu-itens" href="">Blog</a>
                <a class="menu-itens" href="">Pages</a>
                <a class="menu-itens" href="">Contact</a>
            </nav>  
        </div>

        <nav class="menu-usuario">
            <img class="avatar-usuario" src="/static/images/Captura de tela 2022-09-24 203230.png" alt="">
            <p class="nome-usuario">{% block nome %} Roger Santos {% endblock %}</p>
        </nav>

        <div>
            
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>