<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Oops! Está pagina esta sobre contrução ainda</h1>
    <img src="/static/images/contruçaõ.png" alt="">
    <style>
        h1 {
            font-size: 47px;
            text-align: center;
        }

        img {
            margin-left: 350px;
            width: 750px;
        }
    </style>
</body>
</html>