<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/login_style.css') }}">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <main>
        <section class="conteudo-principal">

            <div class="conteudo-escrito">
                <h1 class="titulo-principal">Sign in<br> to be up on</h1>
                <p class="subtitulo">If you dont't have an account<br> you can <a href="{{ url_for('ucBp.signup') }}">Register here!</a></p>
            </div>

            <div class="conteudo-imagem">
                
            </div>

            <div class="conteudo-login">
                <img class="login-imagem" src="/static/images/undraw_launching_re_tomg.svg" alt="">
                <form action="">
                    <input class="login-email" type="email" placeholder="Enter email">
                
                    <div class="senha">
                        <input class="login-senha" type="password" placeholder="Password">
                        <img class="eye-icon" id="icone" src="/static/images/visibility (1).png" alt="">
                    </div>

                    <p class="recuperação">Recover password </p>
                    <input class="conteudo-login-botão" type="submit" value="Sign in" placeholder="">
                </form>

            </div>
        </section>
    </main>

    <script src="{{ url_for('static',    filename='script/login_script.js') }}"></script>
    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>

    {% endblock %}

</body>
</html>