<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/register_style.css') }}">
</head>
<body>
    <section class="conteudo-principal">
        <h1 class="logo"><i>ThunderNews</i></h1>
        <h2 class="sub-logo">Sign up to ThunderNews</h2>
        <div class="card-registro">
            <form class="conteudo-registro" action="/add" method="POST">
                
                <input class="registro-entrada" type="text" name="nome" id="nome" placeholder="Nome" required>

                <input class="registro-entrada" type="email" name="email" id="email" placeholder="E-mail" required>

                <div class="campo-senha">
                    <input class="registro-entrada senha" type="password" name="senha"  id="senha" placeholder="Senha" required>
                    <img class="eye-icon" id="icone" src="/static/images/visibility (1).png" alt="">
                </div>

                <input class="registro-botao" type="submit" value="Sign up">
            </form>

            <p class="login-botao">Already has an account? <a href="{{ url_for('ucBp.login') }}">Sign In</a></p>
        </div>
    </section>

    <script src="{{ url_for('static',    filename='script/login_script.js') }}"></script>
    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
</body>
</html>